
body {
    margin: 0;
    padding: 0;
    height: 900px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #d8b4fe; 
    font-family: Arial, sans-serif;
}


.card-box {
    background-color: white;
    width: 800px;            
    padding: 40px;
    border-radius: 20px;    
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
    
    
    display: flex;
    flex-direction: column; 
    align-items: center;     
    gap: 20px;               
}

.card-title {
    font-style: italic;
    font-size: 28px;
    margin: 0;
}


.instructions {
    background-color: #e9d5ff; 
    width: 100%;              
    padding: 20px;
    border-radius: 10px;
    text-align: left;         
}

.instructions h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.instructions ul {
    list-style-type: none;     
    padding: 0;
    margin: 0;
}

.instructions li {
    margin-bottom: 8px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    padding-bottom: 5px;
}

/* Button Styling */
.btn {
    background-color: #9333ea; 
    color: white;
    border: none;
    padding: 12px 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;               
    transition: background 0.3s;
}

.btn:hover {
    background-color: #7e22ce; 
}

.hide {
    display: none !important;
}

.option-btn {
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
}
.option-btn:hover {
    background: #e9d5ff;
}
.option-btn.selected {
    background: #d8b4fe; 
    border-color: #9333ea;
    font-weight: bold;
}
